
@if (mostrarAddTarefa) {
    <app-button text="Fechar" color="red"  class="add-form" (btnClick)="AlteraVisualizacao(false)"></app-button>
}@else {
    <app-button text="Adicionar Tarefa" color="green"  class="add-form" (btnClick)="AlteraVisualizacao(true)"></app-button>
}


<form (ngSubmit)="onSubmit()" *ngIf="mostrarAddTarefa" class="add-form">
    <div>
        <label for="text"  class="add-form">Tarefa:</label>
        <input  type="text" 
                name="text" 
                class="form-control" 
                placeholder="Adicionar Tarefa"
                id="text"
                [(ngModel)]="tarefa"
                minlength="3"
                >
                
    </div>



        <div class="mb-4">
            <label for="descricao" class="add-form">Descrição:</label>
            <textarea name="descricao" id="descricao" class="form-control" [(ngModel)]="descricao" placeholder="Digite a descrição" maxlength="200"></textarea>
       
        </div>


    <input type="submit" value="Salvar Tarefa" class="btn btn-block mb-4">

</form>